@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller = "Grades" asp-action="AllGrades">View All Grades</a></p>
    @* asp- controller is needed as it has a controller from different controller(not same as a home controller) *@